
                    {% include "@netflix/partials/header.html.twig" %}
                        <div class="our-story-cards" data-uia-our-story="our-story-cards">


                           {{page.homepage}}


                           {% include "@netflix/partials/footer.html.twig" %}